@model BugTrackerApplication.Models.UserRoleViewModel
@{
    ViewBag.Title = "ChangeRole";
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Users
            <small>it all starts here</small>
        </h1>
        <ol class="breadcrumb">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("Users", "Index", "ApplicationUsers")</li>
            <li class="active">Users</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <p>
            User: @Model.Name
        </p>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            @Html.HiddenFor(p => p.Id)

            @Html.ListBoxFor(p => p.SelectedRoles, Model.Roles)

            <input type="submit" value="Submit!" />
        }
    </section>
    <!-- /.content -->
</div>