<ul>
    <li> @Html.ActionLink("Dashboard", "Index", "Tickets") </li>
    <li> @Html.ActionLink("Users", "Index", "ApplicationUsers")</li>
    <li> @Html.ActionLink("Project", "index", "projects")</li>
    <li> @Html.ActionLink("Profile", "About", "Home")</li>
    <li> @Html.ActionLink("Contact", "Contact", "Home")</li>
</ul>